<ion-view title='重置密码'>
    <ion-nav-buttons side="left">
          <button class="button button-clear leftbtn" ui-sref="register"></button>
    </ion-nav-buttons>
    <ion-content class='commonback'>
        <div class='register_wrap'>
          <p>
            <label for="pwd">新密码:</label>
            <input type="password" placeholder="请输入新密码" id='pwd' ng-model='sendpwd.password' required>
          </p>
          <p>
            <label for="nextpwd">确认密码:</label>
            <input type="password" ng-model='sendpwd.queren' id='nextpwd' placeholder="请再次输入密码">
          </p>
          <div class="register_btn" ng-click='findPwd()' >完成</div>
        </div>
    </ion-content>
</ion-view>
