<ion-view title='我的消息'>
  <ion-nav-buttons side="left">
        <button class="button button-clear leftbtn" ui-sref="tab.activity"></button>
  </ion-nav-buttons>
  <ion-content class='commonback'>
      <div class='my_message_wrap'>
        <div class='message_list'>
          <div class='message_list_l'>
            <img src="img/mine/q.jpg" alt="">
            <p><em>冷风步行者</em><i>LV.10 大树</i></p>
          </div>
          <span>有消息未读</span>
        </div>
      </div>
  </ion-content>
</ion-view>
